body {
  font-family: "Inter", sans-serif;
}

.landing-page {
  background-image: url(../assets/hero-leaf1.png), url(../assets/hero-leaf2.png);
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  z-index: 99;

}

/* @media (max-width: 768px) {
  .landing-page {
    background-image: none;
  }
} */